<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <!-- Add social media icons here as needed -->
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="info-name">
           nestQuest private limited
        </div>
        <!-- <div class="f-info-links">
            <a href="/listings" class="custom-link">Privacy</a>
            <a href="/listings" class="custom-link">Terms</a>
        </div> -->
    </div>
</footer>
