<!-- views/welcome.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to NestQuest</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
           body {
            background-color: #ffffff; /* White background */
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            color: #2d3a2b; /* Text color */
        }

        .welcome-box {
            background-color: #ffffff;
            padding: 40px;
            text-align: center;
            border-radius: 10px;
            box-shadow: 0px 0px 20px #8ebc86; /* Shadow effect */
            transition: box-shadow 0.3s ease;
        }

        .welcome-box:hover {
            box-shadow: 0px 0px 30px #8ebc86; /* Increased shadow on hover */
        }

        .welcome-text {
            margin-bottom: 20px;
        }

        .btn-get-started {
    background-color: #ffffff;
    padding: 20px 30px; /* Adjusted padding */
    text-align: center;
    color: #2d3a2b; /* Text color */
    /* Removed border-radius for rectangular shape */
    box-shadow: 0px 0px 20px #6b8f64; /* Shadow effect */
    transition: background-color 0.3s ease;
}


        .btn-get-started:hover {
            background-color: #cde4c9;
        }
    </style>
</head>

<body>
    <div class="welcome-box">
        <div class="welcome-text">
            <h1 class="display-4">Welcome to NestQuest!</h1>
            <p class="lead">Discover your dream property with us.</p>
        </div>
        <a href="/listings" class="btn btn-get-started"><b>GET STARTED!</b></a>
    </div>
</body>

</html>
